.action-button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  color: #fff;
  border: none;
  border-radius: 2px;
}

.hide_desctop {
  @media (min-width: 1400px) {
    display: none;
  }
}
.hide_mobile {
  @media (max-width: 1399px) {
    display: none;
  }
}
