@import 'common.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'tips.scss';
@import 'features.scss';
@import 'audience.scss';
@import 'order.scss';
@import 'footer.scss';

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
a {
  color: #2b292d;
  text-decoration: none;
}

.page {
  min-width: 100%;
  color: #2b292d;
  @media (min-width: 1400px) {
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
